.root {
  position: relative;

  &__box {
    cursor: pointer;
    display: flex;
    gap: 7px;
    padding: 10px 8px;
    border: 1px solid #e0e4e8;
    border-radius: 8px;
    background-color: white;

    &_active {
      border: 1px solid #3e66fb;
    }

    &_success {
      border: 1px solid #9ce09d;
    }

    &_error {
      border: 1px solid #f79b9b;
    }

    &_disabled {
      pointer-events: none;
      background-color: #f0f1f3;
    }
  }

  &__prefix {
    font-size: 14px;
    line-height: 20px;
  }

  &__arrow {
    transition: transform 0.2s ease 0s;
    &_rotate {
      transform: rotate(180deg);
    }
  }

  &__shell {
    position: absolute;
    top: 100%;
    z-index: 2;
    padding-top: 10px;
    opacity: 0;
    visibility: hidden;
    transition: all 0.2s ease 0s;
    &_open {
      opacity: 1;
      visibility: visible;
    }
  }

  &__wrapper {
    overflow: hidden;
    border-radius: 8px;
    box-shadow: 0px 0px 4px 0px #00000040;
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding-block: 10px;
    min-width: 209px;
    max-height: 212px;
    overflow-y: auto;
    background-color: white;

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
    }

    &::-webkit-scrollbar-thumb {
      background: #c4c4c4;
      border-radius: 100px;
    }
  }

  &__item {
    cursor: pointer;
    padding: 6px 8px;
    font-size: 12px;
    line-height: 20px;
    transition: 0.2s ease 0s;

    &:hover {
      background-color: #e7ecff;
    }

    span {
      color: #808080;
    }
  }
}
